body{
  width: 100%;
}
.title-main-biccas {
  color: #54BD95;
  opacity: 1;
  font-family: "Inter", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: 0;
  display: flex;


}

.list-horizontal {
  display: inline-flex;
}
.group-244{
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 40px 130px;
}
.group-228{
  height: 22px;
  width: 408px;
  display:flex;
  justify-content: space-between;
}
.group-227{
  border-radius: 10px;
  display: inline-flex;
}

.login-button{
  display:inline-flex;
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #A6A6A6;
  background: none;
  border: none;

}
.login-button:hover{
  color:black;
}

.signup-button{
  display:inline-flex;
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color:  #F8F8FA;
  background: none;
  border: none;
  align-items:center;
  justify-content: center;

}
.signup-button:hover{
  color:black;
}
.btn-signup-background{
  display:flex;
  background-color:#54BD95;
  border-radius:10px;
  width:80px;
  height:40px;
  align-items:center;
  justify-content: center;
}
.group-208{
  display:flex;
  border-radius:10px;
}

.buttons-main-element{
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #A6A6A6;
  background: none;
  display:inline-flex;


}

.list-buttons-main-element{
  display: flex;
  justify-content: space-between;
  margin-left:150px;
}
.buttons-main-element:hover
{
  display:inline-flex;
  font-family: "Inter", serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color:  #000000;
  background: none;



}