body {
    width: 100%;
  height: 100%;
}

.page1 {
    background: #d4ffef;
    background: linear-gradient(314deg, rgba(212, 255, 239, 1) 0%, rgba(245, 255, 252, 1) 100%);
}

.title-main-biccas {
    color: #54BD95;
    opacity: 1;
    font-family: "Inter", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 50px;
    line-height: 30px;
    letter-spacing: 0;
    display: flex;
    padding-top:4vh;


}

.footer-page1-text {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    display: flex;
    justify-content: center;
}


.group-244 {
    border-radius: 10px;
    display: flex;
    margin: auto;
    max-height: 3vh;
    align-items: center;
    justify-content: center;
    padding-top: 6vh;
    padding-right: 4vw;
}

.group-228 {
    display: inline-flex;
    justify-content: center;
  padding-top: 6vh;
  padding-left:9vw;
  float:left;
}

.group-227 {
 padding-top: 6vh;
  padding-left: 5vw;
    display: inline-block;
}

.login-button {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #A6A6A6;
    background: none;
    border: none;
  transition: 0.2s;

    margin-right: 1vw;

}

.login-button:hover {
    color: black;
}

.signup-button {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #F8F8FA;
    background: #54BD95;
    border: none;
  transition: 0.2s;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 0.5vw;


}

.signup-button:hover {
    color: #54BD95;
    background: rgba(212, 255, 239, 1);
}

.btn-signup-background {
    background-color: #54BD95;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.group-208 {
    border-radius: 10px;
}

.buttons-main-element {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #A6A6A6;
    background: none;
    padding-left: 0.8vw;
  transition: 0.2s;
    padding-right: 0.8vw;

}

.list-buttons-main-element {;
    display: flex;
}

.buttons-main-element:hover {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    background: none;
    padding-left: 0.8vw;
    padding-right: 0.8vw;

}

.company {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.logos-list-div {
    display: inline-flex;
    list-style-type: none;
  padding-bottom: 4vw
}

.logos-list {
    margin-top: 2vw;
    display: inline-flex;
    justify-content: center;
    list-style-type: none;
}

.logo-comp-list {
    margin-left: 2vw;
    margin-right: 3vw;
}

.group-243 {
    justify-content: center;
    align-content: center;
    display: flex;
    align-items: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin: auto;
}

.group-242 {
    display: flex;
    justify-content: center;
}

.group-138 {
    display: flex;
    justify-content: center;
    position: relative;
    min-width: 702px;
    min-height: 559px;
}

.g242-buttons-list {
    display: inline-flex;
}

.g242-title {
    min-width: 10vw;
    min-height: 5vh;
    max-width: 25vw;
    display: flex;
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 75px;
    letter-spacing: 0;
    justify-content: center;

}

.g242-text {
    min-width: 18vw;
    min-height: 3vh;
    max-width: 20vw;
    display: flex;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    justify-content: center;
    padding-bottom: 25px;


}

.g242-vector {
    min-width: 479px;
    min-height: 26px;
    max-width: 479px;
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
}


.trial-button {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    border-radius: 40px;
    letter-spacing: 0;
    color: #FFFFFF;
    padding:3vh 2vw;
    background: #54BD95;
    border: none;
    transition: 0.2s;
    align-items: center;
    margin-right: 1vw;
    justify-content: center;


}

.trial-button:hover {
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #54BD95;
    padding:3vh 2vw;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;

}

.demo-area-button {
    display: inline-flex;
    min-width: 5vw;
    min-height: 5vh;
    padding-top: 1.5vh;
    padding-left: 1vw;

}

.demo-play-image {
    display: flex;
    min-width: 1vw;
    min-height: 1vh;
    align-items: center;
    justify-content: center;
  transition: 0.5s;
}


.demo-play-image:hover {
    display: flex;
    min-width: 1vw;
    min-height: 1vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(212, 255, 239, 1);
    border-radius: 1000px;
}

.demo-text {
    display: flex;
    min-width: 5vw;
    min-height: 1vh;
    align-items: center;
    justify-content: center;
}

.group-138-main-image {
    display: flex;
    position: absolute;
}

.group-59 {
    width: 60px;
    height: 66px;
    display: flex;
    position: absolute;
    left: 525px;
    top: 25px;
}

.frame-45 {
    width: 146px;
    height: 188px;
    display: flex;
    position: absolute;
    left: 500px;
    top: 325px;
}

.group-48 {
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    left: 400px;
    top: 500px;
}

.rect-34 {
    width: 40px;
    height: 40px;
    display: flex;
    position: absolute;
    left: 30px;
    top: 150px;
}

.vector-25 {
    width: 12px;
    height: 8px;
    top: 10px;
    right: 26px;
    position: relative;
}

.group-46 {
    width: 138px;
    height: 70px;
    display: flex;
    position: absolute;
    left: 50px;
    top: 385px;
}

.rect-38 {
    width: 262px;
    height: 78px;
    display: flex;
    position: absolute;
    right: 450px;
    top: 25px;
}

.rect-37 {
    width: 227px;
    height: 1px;
    display: flex;
    position: absolute;
    right: 15px;
    top: 65px;
}

.enter-amount-text {
    font-family: "Inter", serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    min-width: 77px;
    min-height: 18px;
    color: #A9A7B6;
    position: absolute;
    right: 160px;
    top: 15px;

}

.input_page1 {
    font-family: "Inter", serif;
    font-weight: 500;
    display: inline-flex;
    font-size: 16px;

    line-height: 100%;
    letter-spacing: 0;
    width: 70px;
    height: 18px;
    opacity: 1;
    color: #000000;
    position: absolute;
    right: 170px;
    border: none;
    outline: none;
    top: 40px;
    border-style: none;
    border: 0;
    border-width: 0;


}

.send-button {
    background-color: #54BD95;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    align-items: center;
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #F8F8FA;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    justify-content: center;
    position: absolute;
    right: 15px;
  transition: 0.2s;
    top: 15px;
}

.send-button:hover {
    background-color: #54BD95;
    backface-visibility: visible;
    border-radius: 10px;
    width: 80px;
    height: 40px;
    align-items: center;
    font-family: "Inter", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #000000;
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 15px;
}

.button-send-bckg {
    .btn-signup-background {
        background-color: #54BD95;
        border-radius: 10px;
        width: 80px;
        height: 40px;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 15px;
        top: 15px;
    }
}

.group-44 {
    position: absolute;
    right: 15px;
    top: 15px;
    min-width: 64px;
    min-height: 28px;
}

.page2 {
    min-width: 100vw;
    background: #F9F8FE;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 5vh;

}

.group-240 {
    min-width: 60vw;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
  padding-left:10vw;
  padding-right:10vw;
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.group-159 {
    min-width: 20vw;
    min-height: 20vh;
    justify-content: center;
  padding-right: 5vw;
}

.group-160 {
    min-width: 20vw;
    min-height: 20vh;
    justify-content: center;
  border:none;

}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.group-159-title {
    min-width: 25vw;
    min-height: 15vh;
    display: flex;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0;
    color: #191A15;
  padding-left:2vw;


}

.group-159-text {
    min-width: 25vw;
    min-height: 10vh;
    display: flex;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0;
    color: #A6A6A6;
  padding-left:2vw;

}

.list-group-160 {
    list-style-type: none;
}

.list-group-160-individual {
    list-style-type: none;
}

.g160-title {
    font-family: "Inter", serif;
    font-weight: 700;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0;
    color: #191A15;
  display: flex;


}

.g160-subtitle {
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #A6A6A6;
   display: flex;
}

.rect-90 {
    position: relative;
}

.vect1{
  width: 30px;
  height: 30px;
  top:12px;
  left:14px;
  position:absolute;
}
.pie-chart-p2{
  width: 30px;
  height: 30px;
  top:12px;
  left:14px;
  position:absolute;
}
.command-p2{
  width: 30px;
  height: 30px;
  top:12px;
  left:14px;
  position:absolute;
}

.list\+image-page2 {
  display: inline-flex;
}

.group-159-table td{
  padding: 1vh  2vw;
}

.g159-text1{
  font-family: "Inter", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #191A15;


}
.g159-text2{
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0;
  color: #A6A6A6;
}

.page-3-table{
  min-width: 50vw;
  min-height: 40vh;
  justify-content: center;
  align-content: center;
  display: flex;
  padding-top: 3vh;
  padding-bottom: 3vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

.page-3-table td{
  padding: 2vh  3vw;

  vertical-align: middle;
}

.page3-images{
  width: 364px;
  height:430px;

}

.page3-title{
  min-width: 7vw;
  min-height: 5vh;
  color:#191A15;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0;
  display: flex;
  justify-content: center;
  align-content: center;


}
.page3{
  background: #F9F8FE;
  background: linear-gradient(182deg, rgba(249, 248, 254, 1) 0%, rgba(255, 249, 240, 1) 100%);
}
.page3-subtitle{
    min-width: 5vw;
    min-height: 2vh;
  opacity: 1;
  font-family: "inter", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  color: #A6A6A6;

}

.page3-subtitles{
  color: #191A15;
  font-family: "Inter", serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: 0;
  min-width: 10vw;
  min-height: 8vh;
  opacity: 1;
}

.page3-text-bottom{
  min-width: 8vw;
  min-height: 5vh;
  opacity: 1;
font-family: "Inter", serif;
font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
color:#A6A6A6;

}

.page3-button{
  text-align: center;
  vertical-align: middle;
}

.page-3-button{
  background-color: #54BD95;
  color: #FFFFFF;
  border: none;

    opacity: 1;
    font-family: "inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  border-radius: 70px;
  background-size:1vw 1vh;
  margin-left: auto;
  margin-right: 0;
  align-self: center;
  transition: 0.2s;
  text-align: center;
  vertical-align: middle;
  padding: 2.5vh 1.5vw;
}
.page-3-button:hover{
    color: #54BD95;
    background: rgba(245, 255, 252, 1);

}

.page4{
  background: #F9F8FE;
  background: linear-gradient(2deg, rgba(245, 255, 252, 1) 0%, rgba(255, 249, 240, 1) 100%);
}

.page-4-title{
  color: #191A15;
  font-family: "Inter", serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 100%;
  letter-spacing: 0;
  min-width: 20vw;
  min-height: 10vh;

  opacity: 1;
  display: flex;
  padding-bottom: 2vh;


}
.page4-subtitle{
  font-family: "Inter", serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0;
  min-width: 1vw;
  min-height: 1vh;
  opacity: 1;
  display: flex;

  color: #191A15;

}

.page4{
  padding-top: 15vh;
  padding-left:5vw;
  padding-right:5vw;
  padding-bottom: 15vh;
    justify-content: center;
    align-content: center;
    display: flex;
}


.page4-checkmark{
  max-width: 2vw;
}
.page4-left-side{
  min-height: 20vh;
  min-width: 5vw;
    padding-right: 8vw;
}

.page4-table td{
  padding: 1vh 0.3vw;
}

.rect-48{
    position: relative;
    min-width: 450px;
    min-height: 529px;
}

.group-111{
    position: absolute;
    top:30px;
    right:300px;
}
.group-112{
    position: absolute;
    top:90px;
    left:400px;
}
.group-113{
    position: absolute;
    top:260px;
    right:425px;
}.group-114{
     position: absolute;
     top:450px;
     right:300px;
 }

 .page5{
     background: #F9F8FE;
     background: linear-gradient(2deg, rgba(255, 249, 240, 1) 0%, rgba(245, 255, 252, 1) 100%);
 }

 .page5-divTop{
        display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;


 }

 .page5-title{
     opacity: 1;
   max-width: 25vw;
     font-family: "Inter", serif;
     font-weight: 700;
     font-size: 50px;
     line-height: 73px;
     letter-spacing: 0;
     text-align: center;
     color: #191A15;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 5vh;
 }
 .page5-subtitle{
     font-family: "Inter", serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 100%;
     letter-spacing: 0;
     text-align: center;
     color: #A6A6A6;
     margin-top: 5vh;

 }
 .page5-buttons{
     background: #FFFFFF;
    min-height: 3.5vh;
     min-width: 14vw;
     text-align: center;
     border: none;
     border-radius: 10px;
     box-shadow: 0px 4px 9px 0px #0000000D;
     padding-top: 1vh;
     padding-bottom: 1vh;
     margin-bottom: 8vh;
     margin-top: 5vh;



 }

 .page5-buttonMonthly{
     background: #FFFFFF;
     min-height: 2vh;
     min-width: 6.5vw;
     text-align: center;
     font-family: "Inter", serif;
     font-weight: 500;
     font-size: 18px;
     line-height: 30px;
     letter-spacing: 0;
     border: none;
     border-radius: 10px;
     padding:1.5vh 1vw;
 }
 .page5-buttonYearly{
     background: #54BD95;


     min-height: 2vh;
     min-width: 6.5vw;
     text-align: center;
     font-family: "Inter", serif;
     font-weight: 500;
     font-size: 18px;
     line-height: 30px;
     letter-spacing: 0;
     border: none;
     border-radius: 10px;
     padding:1.5vh 1vw;
     color: #FFFFFF;

 }

 .page5-divBottom{
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     min-height: 30vh;
     min-width: 55vw;
     padding-bottom: 18vh;

 }

 .page5-freeTier{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     min-height: 25vh;
     min-width: 15vw;
     border-radius: 20px;
     background: #FFFFFF;
     box-shadow: 0px 4px 9px 0px #0000000D;
     margin-right: 0.5vw;
     margin-top: 2vh;
     padding: 1.5vh 1.5vw;
     max-width: 20vw;
     margin-left: 0.5vw;

 }
.page5-proTier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 25vh;
    min-width: 15vw;
    border-radius: 20px;
    margin-right: 0.5vw;
/*    background:radial-gradient(circle , #6BC2A1 50%, #54BD95 50%);*/
    background:radial-gradient(circle 750px at 50% 82% , #6BC2A1 50%, #54BD95 50%);
    max-width: 20vw;
    margin-top: 2vh;
    margin-left: 0.5vw;
    padding: 1.5vh 1.5vw;

}
.page5-businessTier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    margin-top: 2vh;
    min-height: 25vh;
    box-shadow: 0px 4px 9px 0px #0000000D;

    min-width: 15vw;
    background: #FFFFFF;
    border-radius: 20px;
    padding: 1.5vh 1.5vw;
    max-width: 20vw;

}

.page5-freeTierName{
    font-family:"Inter", serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    text-align: center;
    opacity: 1;
    color: #191A15;
    padding-top: 5vh;
    padding-bottom: 2.5vh;

}

.page5-freeTierSubtitle{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    max-width: 12vw;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;
    color :#A6A6A6;
    padding-bottom:1vh;

}

.page5-freeDollarSign{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color:#A6A6A6;


}
.page5-freeTierPrice{
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    letter-spacing: 0;
    color: #191A15;
    padding-bottom: 2vh;
}
.page5-businessTierName{
    font-family:"Inter", serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0;
    padding-bottom: 2.5vh;
    text-align: center;
    opacity: 1;
    color: #191A15;
    padding-top: 5vh;

}

.page5-businessTierSubtitle{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    max-width: 12vw;
    padding-bottom:1vh;
    letter-spacing: 0;
    text-align: center;
    color :#A6A6A6;

}

.page5-businessDollarSign{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color:#A6A6A6;


}
.page5-businessTierPrice{
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
    padding-bottom: 2vh;
    letter-spacing: 0;
    color: #191A15;
}

.page5-proTierName{
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 100%;
    padding-bottom: 2.5vh;
    letter-spacing: 0;
    padding-top: 5vh;
    color: #FFFFFF;

}
.page5-proTierSubtitle{

    font-family:  "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    max-width: 12vw;
    padding-bottom:1vh;
    line-height: 27px;
    letter-spacing: 0;
    text-align: center;

    color: #FFFFFF;

}
.page5-proDollarSign{
    font-family:  "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #FFFFFF;


}
.page5-proTierPrice{
    color: #FFFFFF;
    font-family:  "Inter", serif;
    font-weight: 600;
    font-size: 50px;
    leading-trim: NONE;
    line-height: 30px;
    letter-spacing: 0;
    padding-bottom: 0.5vh;

}
.page5-proTierBonus{
    color: #FFFFFF;
    font-family:  "Inter", serif;
    font-weight: 600;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0;
    background-size:5vw 1.25vh;
    background:  #85DAB9;
    padding: 0.5vh 0.5vw;
    border-radius: 10px;
    margin-top:2vh;
    margin-bottom: 2vh;

}
.page5-freeTierNestedDiv{
    background: #F9FAFB;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 2vh;
    margin-bottom: 2vh;
    padding-top:2vh;
    padding-left: 1vw;
    padding-right: 1vw;

}
.page5-proTierNestedDiv{
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding-bottom: 2vh;
    padding-top:2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-bottom: 2vh;
}
.page5-businessTierNestedDiv{
    background: #F9FAFB;
    border-radius: 10px;
    padding-bottom: 2vh;
    padding-top:2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    display: flex;
    margin-bottom: 2vh;
    flex-direction: column;


}

.page5-freeButton{

    border: none;
    border-radius: 20px;
    padding:1vh 2vw;
    min-width: 7vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px 0px #0000000D;

    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #54BD95;
    transition: 0.2s;



}
.page5-proButton{

    border: none;
    border-radius: 20px;
    padding:1vh 2vw;
    background: #54BD95;

    box-shadow: 0px 4px 9px 0px #0000000D;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    transition:0.2s;

color: #FFFFFF;

    min-width: 7vw;
}
.page5-proButton:hover{
    color: #54BD95;
    background: rgba(245, 255, 252, 1) ;
}
.page5-businessButton{
    border: none;
    border-radius: 20px;
    padding:1vh 2vw;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #54BD95;
    min-width: 7vw;
    background: #FFFFFF;
    box-shadow: 0px 4px 9px 0px #0000000D;
    transition: 0.2s;

}
.page5-freeButton:hover{
    background: #54BD95;
    color: #FFFFFF;
}
.page5-businessButton:hover{
    background: #54BD95;
    color: #FFFFFF;
}
.page5-tableSubtitle{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #191A15;

}

.page5-tableFreeNestedDiv td{
    padding: 1vh 0.25vw;
}
.page5-tableProNestedDiv td{
    padding: 1vh 0.25vw;
}
.page5-tableBusinessNestedDiv td{
    padding: 1vh 0.25vw;
}

.page6{
    background: #161C28;
    display: flex;
    flex-direction: row;
    margin:auto;

}

.page6-normal-text{
    font-family:  "Inter", "serif";
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0;
    color: #A6A6A6;

}
.page6-title{
    margin-top: 1vh;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 50px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
    margin-bottom: 5vh;

}

.page6-right-side{
    background: #222938;
border-radius: 20px;
    border:none;
 /*   min-width: 40vw;*/
    margin-left: 5vw;

    margin-top:15vh;
    margin-right: 15vw;
    margin-bottom: 18vh;

    padding-left: 4vw;
    padding-right: 4vw;
}

.page6-subtitle{
    margin-bottom: 5vh;
}
.page6-icon{
    margin-bottom: 5vh;
}

.page6-review{
    margin-bottom: 5vh;
}

.page6-getstarted{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0;
    color: #FFFFFF;
    padding-bottom: 2vh;
}

.page6-right-side-table{
    align-content: center;
    display: flex;
}
.input_page6{
    display: block;
}
.inputLabel{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
    display:flex;
    align-items: center;
    float: left;
    padding-bottom: 2vh;

}

.inputText{
    border-radius: 10px;
    background: #FFFFFF;
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 2vh 1vw;
    margin-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    min-width: 25vw;


}
.inputMessage{

    border-radius: 10px;
    background: #FFFFFF;
    font-family: "Inter", serif;
    font-weight: 500;
    min-width: 25vw;
    margin-bottom: 2vh;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    display:flex;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh 1vw;


}


.page6-requestdemo-button{
    border-radius: 10px;
    font-family: "Inter", serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    background: #54BD95;
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 1vh;
    color: #FFFFFF;
    padding: 2vh 11.3vw;

}

.page6-freeTrial{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #A6A6A6;
    float: right;
    margin-bottom:5vh;


}

.page6-trial-link{
    font-family: "Inter", serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
    text-decoration: none;


}

.get-started-image{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top: 5vh;
    padding-bottom: 1vh;
}

.page6-left-side{
    margin-left: 15vw;
    margin-top:15vh;
    max-width: 30vw;
    margin-right: auto;
    margin-bottom: 18vh;
}